/* temporary: */

/*.content{*/
/*position: static;*/
/*}*/

a {
    color: #fff !important;
    font-family: "Aleo-Bold", arial;
}

footer {
    color: #fff;
    font-family: "Aleo-Bold", arial;
    /*overflow: hidden;*/
    /*z-index: 9999;*/
    font-size: 15px;
    /*letter-spacing: 1px;*/
    /*line-height: 28px;*/
}

.greyTransparentBackground {
    background: rgba(100, 100, 100, 0.6);
}

.whiteTextRegular {
    color: #fff;
    font-family: "Aleo-Bold", arial;
    overflow: hidden;
    /*z-index: 9999;*/
    font-size: 16px;
    /*letter-spacing: 1px;*/
    /*line-height: 28px;*/
}

.error-message {
    /*background: rgba(250, 0, 0, 0.6);*/
    background: rgba(250, 0, 0, 0.7);
    color: white;
    overflow: hidden;
    font-size: 20px;
    /*line-height: 25px;*/
}
