<!--
use this id to access $scope in browser console:
angular.element(document.getElementById('tokensCtrl')).scope();
-->

<div id="adminCtrl">
    <br>
    <div class="container error-message" ng-hide="currentNetwork.connected">
        <div class="row">
            <div class="col-lg-12">
                <center>
                    <!--<md ng-include="'/views/noEthereumNodeConnectionMessage.md'"></md>-->
                    You are not connected to Ethereum network. Please use <a
                        ng-href="https://github.com/ethereum/mist/releases">Mist browser</a>
                    or Google Chrome with <a ng-href="https://metamask.io">MetaMask</a> plugin &nbsp<a ui-sref="manual">[help]</a>
                    <br>
                </center>
            </div>
        </div>
    </div>

    <hr>
    <div class="container greyTransparentBackground whiteTextRegular">

        <div class="row">
            <div class="col-lg-12">
                <center>
                    <br>
                    <a href="/" title="Home">
                        <img src="images/deex.logo.big.png" alt="DEEX" width="25%" height="25%">
                    </a>
                    <br>
                    <hr>
                </center>
            </div>
        </div>

        <!-- ================== Functions ================= -->

        <div class="row" ng-hide="noAccountsDetected">

            <div class="col-xs-6">
                <!--
                                <div id="startSale">

                                    <h4><strong>startSale</strong></h4>

                                    &lt;!&ndash;
                                    $scope._startUnixTime
                                    $scope._endUnixTime
                                    &ndash;&gt;

                                    <form class="form-inline">
                                        <div class="form-group">

                                            <div class="input-group">
                                                Start (Unix Time): <br>
                                                &lt;!&ndash; see: http://stackoverflow.com/questions/26293769/how-to-parseint-in-angular-js &ndash;&gt;
                                                &lt;!&ndash;<input type="number" ng-model="sumWei" class="form-control" name="sumWei" size="50">&ndash;&gt;
                                                &lt;!&ndash; https://stackoverflow.com/questions/19011861/is-there-a-float-input-type-in-html5 &ndash;&gt;
                                                <input type="number" step="1" min=0 ng-model="_startUnixTime"
                                                       class="form-control"
                                                       name="_startUnixTime"
                                                       size="50"> ( Time:
                                                {{unixTimeToDateString(_startUnixTime)}}
                                                )
                                            </div>
                                        </div>
                                        <br>

                                        <div class="input-group">
                                            End (Unix Time): <br>
                                            &lt;!&ndash; see: http://stackoverflow.com/questions/26293769/how-to-parseint-in-angular-js &ndash;&gt;
                                            &lt;!&ndash;<input type="number" ng-model="sumWei" class="form-control" name="sumWei" size="50">&ndash;&gt;
                                            &lt;!&ndash; https://stackoverflow.com/questions/19011861/is-there-a-float-input-type-in-html5 &ndash;&gt;
                                            <input type="number" step="1" min=0 ng-model="_endUnixTime" class="form-control"
                                                   name="_endUnixTime"
                                                   size="50"> ( Time:
                                            {{unixTimeToDateString(_endUnixTime)}}
                                            )
                                        </div>

                                        <br>
                                        <button ng-click="startSale()"
                                                ng-class="{disabled: buyTokensTxInProgress}"
                                                class="btn btn-danger">
                                            Start sale!
                                        </button>
                                        <span ng-show="buyTokensTxInProgress" title="loading...">
                                            <i class="fa fa-refresh fa-spin fa-fw"></i>
                                        </span>
                                    </form>

                                    <br>
                                    <div class="alert alert-success alert-dismissible" role="alert" ng-show="buyTokensSuccess">
                                        &lt;!&ndash;<button type="button" class="close" data-dismiss="alert">&ndash;&gt;
                                        <button type="button" class="close">
                                            <span ng-click="buyTokensSuccess=null">&times;</span>
                                        </button>
                                        {{buyTokensSuccess}}<br>
                                        <a ng-href="{{contractDeployed[currentNetwork.network_id].etherscanLinkPrefix}}/tx/{{buyTokensSuccessTx}}"
                                           target="_blank">
                                            transaction data
                                        </a>
                                    </div>

                                    &lt;!&ndash;<div class="alert alert-danger alert-dismissible" role="alert" ng-show="buyTokensError">&ndash;&gt;
                                    <div class="alert alert-danger" role="alert" ng-show="buyTokensError">
                                        <br>
                                        &lt;!&ndash;https://stackoverflow.com/questions/20494887/my-bootstrap-alert-will-not-display-after-being-closed  &ndash;&gt;
                                        &lt;!&ndash; https://stackoverflow.com/a/29820181 &ndash;&gt;
                                        &lt;!&ndash;<button type="button" class="close" data-dismiss="alert">&ndash;&gt;
                                        <button type="button" class="close">
                                            <span ng-click="buyTokensError=null">&times;</span>
                                        </button>
                                        {{buyTokensError}}
                                    </div>

                                </div>

                 -->
                <!-- ==========     ========== -->

                <div id="withdrawAllToOwner">
                    <button class="btn btn-danger" type="button" ng-click="withdrawAllToOwner()">
                        Withdraw All To Owner
                    </button>
                    <div ng-show="withdrawAllToOwnerTxReceipt">
                        <br>
                        {{withdrawAllToOwnerTxReceipt}}
                        <br>
                    </div>
                    <div ng-show="withdrawAllToOwnerTxError">
                        <br>
                        {{withdrawAllToOwnerTxError}}
                        <br>
                    </div>
                </div>

                <hr>
                <div id="initContract">
                    <button class="btn btn-danger" type="button" ng-click="initContract()">
                        initContract
                    </button>

                </div>
                <hr>

                <div id="setTokenPriceInWei">
                    <input type="number"
                           step="1" min=0 ng-model="newTokenPriceInWei" class="form-control"
                           size="50">
                    <button class="btn btn-danger" type="button" ng-click="setTokenPriceInWei()">
                        setTokenPrice
                    </button>
                </div>
                <hr>

                <div id="setTime">
                    <button class="btn btn-danger" type="button" ng-click="setTime()">
                        setTime
                    </button>
                    <hr>
                </div>


                <div id="changePriceSetterTo">
                    <input type="text" ng-model="newPriceSetter"
                           class="form-control"
                           size="50">
                    <button class="btn btn-danger" type="button" ng-click="changePriceSetterTo()">
                        Change Price Setter
                    </button>
                    <hr>
                </div>

                <div id="changeOwnerTo">
                    <input type="text" ng-model="newContractOwner"
                           class="form-control"
                           size="50">
                    <button class="btn btn-danger" type="button" ng-click="changeOwnerTo()">
                        Change Owner To
                    </button>
                    <span ng-show="changeOwnerToWorking"><i class="fa fa-refresh fa-spin fa-fw"></i></span>
                    <hr>
                </div>


            </div>

        </div>


    </div>

    <footer></footer>
    <br>

</div>