<!-- General Alerts: -->
<div class="alert alert-danger alert-dismissible" role="alert" ng-show="alertDanger">
    <button type="button" class="close">
        <span ng-click="alertDanger=null">&times;</span>
    </button>
    {{alertDanger}}
</div>
<div class="alert alert-warning alert-dismissible" role="alert" ng-show="alertWarning">
    <button type="button" class="close">
        <span ng-click="alertWarning=null">&times;</span>
    </button>
    {{alertWarning}}
</div>
<div class="alert alert-info alert-dismissible" role="alert" ng-show="alertInfo">
    <button type="button" class="close">
        <span ng-click="alertInfo=null">&times;</span>
    </button>
    {{alertInfo}}
</div>
<div class="alert alert-success alert-dismissible" role="alert" ng-show="alertSuccess">
    <button type="button" class="close">
        <span ng-click="alertSuccess=null">&times;</span>
    </button>
    {{alertSuccess}}
</div>