<div id="footer">
    <div class="container greyTransparentBackground">
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <div id="networkInfo">
                    You use node:&nbsp {{currentNetwork.node}}<br>
                    Network:&nbsp {{contractDeployed[currentNetwork.network_id].network}}<br>
                    Ethereum protocol version:&nbsp {{currentNetwork.ethereumProtocolVersion}}<br>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
