<!--
use this id to access $scope in browser console:
angular.element(document.getElementById('tokensCtrl')).scope();
-->
<div id="manualCtrl">
    <br>
    <div class="container greyTransparentBackgroundDark whiteTextRegular">
        <center>
            <div class="row">
                <div class="col-lg-12">
                    <center>
                        <br>
                        <!--<a ui-sref="tokens" href="" title="Home">-->
                        <a href="/" title="Home">
                            <img src="images/deex.logo.big.png" alt="DEEX" width="25%" height="25%">
                        </a>
                        <br>
                        <hr>
                    </center>
                </div>
            </div>
            <h1 id="how-to-use-this-page-site-">How to use this decentralized application (dAapp)?</h1>
            <hr>
            <h2>MetaMask</h2>
            <p><a href="https://metamask.io/">MetaMask</a> is an <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn">extension</a> for accessing Ethereum enabled distributed applications, or "dAapps" in your normal Chrome browser!
            </p>
            <center>
                <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn" target="_blank" title="Click to download MetaMask plugin">
                    <img src="https://metamask.io/img/ethereum-metamask-chrome.png" class="img-responsive">
                </a>
            </center>
            <p><a href="https://metamask.io/">MetaMask</a> also lets the user create and manage their own identities, so when a Dapp wants to perform a transaction and write to the blockchain, the user gets a secure interface to review the transaction, before approving or rejecting it.
            </p>
            <p>Because it adds functionality to the normal browser context, MetaMask requires the permission to read and write to any webpage. You can always "view the source" of MetaMask the way you do any Chrome extension, or view the source code on Github:
                <a href="https://github.com/MetaMask/metamask-plugin">https://github.com/MetaMask/metamask-plugin</a>
            </p>
            <p>You can download MetaMask on the
                <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn">
                    chrome web store
                </a> and read more instruction on how to use it on the MetaMask website:
                <a href="https://metamask.io/">metamask.io</a>
            </p>
            <hr>
            <h2 id="mist-browser">Mist Browser</h2>
            <div>
                <center>
                    <a href="https://github.com/ethereum/mist/releases" title="Click to download Mist Browser">
                        <img src="https://raw.githubusercontent.com/ethereum/mist/develop/icons/mist/icon2x.png"
                             alt="Mist Browser" width="25%" height="25%">
                    </a>
                </center>
            </div>
            <p>To use smart contract function you can install Mist browser. </p>
            <p> Mist browser is an Internet browser (like Google Chrome) with Ethereum node connected to it.</p>
            <p>Mist browser is free and open sourced.</p>
            <h3 id="installing-mist-browser">Installing Mist Browser</h3>
            <p>Go to <a href="https://github.com/ethereum/mist/releases">github.com/ethereum/mist/releases</a> and download Mist for your operating system.
            </p>
            <h3 id="run-mist-browser">Run Mist Browser</h3>
            <p>When Mist Browser starts, it needs to synchronize your local copy of Ethereum blockchain and start Ethereum node. For storing blockchain you will need about 100 GB of free space on your hard drive.</p>
            <p>When Mist Browser starts first time it may need up to few hours (depends on you network and system) to download your copy of the Ethereum blockchain.</p>
            <p><img src="images/mist.starting.png" alt="Mist starting" class="img-responsive" title="Mist starting"></p>
            <p>When Mist starts you can choose to use TestNet (for testing, with test ether), or MainNet (with real ether and legal binding smart contract on it). If you run Mist for the first time, than it's probably better to start with TestNet. We have our smart contracts both for TestNet where you can test their functions, and for MainNet.</p>
            <br>
        </center>
    </div>
    <br>
</div>
</div>
