<!--
use this id to access $scope in browser console:
angular.element(document.getElementById('tokensCtrl')).scope();
-->

<div id="tokensCtrl">
    <br>
    <div class="container error-message" ng-hide="currentNetwork.connected">
        <div class="row">
            <div class="col-lg-12">
                <center>
                    <!--<div class="card card-block">-->
                    <md ng-include="'/views/noEthereumNodeConnectionMessage.md'"></md>
                    <!--</div>-->
                </center>
            </div>
        </div>
    </div>


    <div class="container greyTransparentBackground">

        <div class="row">
            <div class="col-lg-12">
                <center>
                    <br>
                    <img src="images/deex.logo.big.png" alt="" width="25%" height="25%">
                    <br>
                    <hr>
                </center>
            </div>
        </div>

        <div class="row whiteTextRegular">
            <div class="col-lg-12">
                <span ng-click="refreshEthUsd()" title="Click to refresh">ETH/USD: {{ethusd}} || ETH/BTC: {{ethbtc}}
                    (data from
                    <!--<a href="https://etherscan.io" target="_blank">etherscan.io</a>-->
                    etherscan.io
                    )
                    <br>
                    Current deex token price: {{web3.fromWei(tokenPriceInWei, 'ether')}} ETH
            </div>
        </div>

        <alerts></alerts>

        <smart-contract-info></smart-contract-info>

        <user-accounts></user-accounts>

        <hr>

        <buy-tokens></buy-tokens>

        <hr>

        <transactions></transactions>
    </div>
    <footer></footer>
    <br>

</div>